//- Name: Tommy Cao
//- Date: 5/29/17
//- Company: GEVH
//- Description: Great Entertainment Vacation Rental Website
extends layout

block content
  h1= article.title
  h5 Written by #{author}
  h5 Star number: #{article.star}
  p= article.body
  hr
  if user
    if user.id ==article.author
      a.btn.btn-default(href='/articles/edit/'+article._id) Edit 
      a.btn.btn-danger.delete-article(href='#',data-id=article._id) Delete
  
