//- Name: Tommy Cao
//- Date: 5/29/17
//- Company: GEVH
//- Description: Great Entertainment Vacation Rental Website

extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/edit/'+article._id)
    #form-group
      label Title:
      input.form-control(name='title', type='text', value=article.title)
    #form-group
      input.form-control(name='author', type='hidden', value=article.author)      
    #form-group
      label Renter:
      input.form-control(name='renter',  type='text', value=article.renter)
    #form-group
      label Stayed:
      input.form-control(name='checkin', type='text', value=article.checkin)      
    #form-group
      label Star:
      input.form-control(name='star', type='num', value=article.star)
    #form-group
      label Comment:
      textarea.form-control(name='body')= article.body
    br
    input.btn.btn-primary(type='submit',value='Submit')
