//- Name: Tommy Cao
//- Date: 5/29/17
//- Company: GEVH
//- Description: Great Entertainment Vacation Rental Website
extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      .list-item
        a(href="/articles/"+article._id)= article.title
        h5 Renter: #{article.renter}
        h5 Stayed: #{article.checkin}  
        h5 Star number: #{article.star}
        p Comment: #{article.body}
